@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#header1 { /* displays swipe instruction */
  background: linear-gradient(to bottom right, #b8c6db, #f5f7fa);
  border: 15px solid white;
  color: #ffffff;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#header2 {/* displays math equation instruction */
  background: linear-gradient(to bottom right, #FFB900, #FF7730);
  border: 15px solid white;
  color: #ffffff;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#first {
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: left;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 15px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  /*
    display: table-cell;
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: left;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 15px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  */
}
#second {
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: right;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 15px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

#third {
  width: 300px;
  line-height: 100px;
  height: 100px;
  margin:0 auto;
  background: linear-gradient(to bottom right, #17f9f2, #fe0944);
  border: 7px solid orange;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

#button {
  background-color: #4fa2ff;
  z-index: 1;
  border: none;
  color: white;
  border: 15px solid white;
  float: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

#dot {
  position: relative;
  height: 75px;
  width: 75px;
  background: linear-gradient(to right, #ec3c3c 0%, #eb5656 100%);
  border-radius: 50%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#RedDot {
  position: absolute;
  height: 75px;
  width: 75px;
  background: linear-gradient(to right, #ec3c3c 0%, #eb5656 100%);
  border-radius: 50%;
  display: inline-block;
}

#GreenDot {
  position: absolute;
  height: 75px;
  width: 75px;
  background: linear-gradient(to right, #6ce474 0%, #76a77c 100%);
  border-radius: 50%;
  display: inline-block;
}

#GreyDot {
  position: absolute;
  height: 75px;
  width: 75px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  display: inline-block;
}

 {
  background: url("https://cdn.glitch.com/b88892c3-13db-4b8f-be60-64c47e8b9052%2Fyo.png?v=1605845438323") -411px -540px
    no-repeat;
  width: 20px;
  height: 20px;
  border: none;
}

#BacktoHome {
  background: url(https://cdn.glitch.com/b88892c3-13db-4b8f-be60-64c47e8b9052%2Fyo.png?v=1605845438323);
  border: 0;
  height: 20px;
  width: 20px;
}

#clear {
  clear: both;
}
