.grid-container {
  display: grid;
  height: 150px;
  width: 100%;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: none;
  position: relative;
  background-color: #FFFFFF;
  border: 15px white;
    margin-left: auto;
  margin-right: auto;
}
.grid-container > div {
  line-height: 50px;
  height: 50px;
  width: 50px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  border: 15px white;
  
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
    margin-left: auto;
  margin-right: auto;

}



.c1 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c2 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c3 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c4 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c5 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c6 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c7 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c8 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c9 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c10 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c11 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c12 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c13 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c14 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c15 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
