.c1 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c2 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c3 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c4 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c5 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c6 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c7 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c8 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c9 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c10 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c11 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c12 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c13 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c14 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.c15 {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
