.c1 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c2 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c3 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c4 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c5 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c6 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c7 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c8 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c9 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c10 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c11 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c12 {
  float: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c13 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c14 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.c15 {
  float: top;
  position: relative;
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #bababa 0%, #949494 100%);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
