#first {
    width: 100px;
    float: left;
    height: 100px;
    border: 15px solid white;
    background-color: blue;
}
#second {
    width: 100px;
    float: left;
    height: 100px;
    border: 15px solid white;
    background-color: blue;
}
#clear {
    clear: both;
}