#header {
    width: 115px;
    background-color: red;
    height: 30px;
}


question {
    display:table-cell;
  line-height: 100px;
    width: 115px;
    height: 60px;
    background-color: blue;
    border: 15px solid white;
    text-align: center;
}
first {
    display:table-cell;
  line-height: 100px;
    width: 100px;
    height: 100px;
    float: left;
    background-color: #4287f5;
    border: 15px solid white;
    text-align: center;
}
second {
    display:table-cell;
    width: 100px;
  line-height: 100px;
    height: 100px;
    float: left;
    background-color: #4287f5;
    border: 15px solid white;
    text-align: center;
}
#clear {
    clear: both;
}