@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#header1 {
  background: linear-gradient(to bottom right, #b8c6db, #f5f7fa);
  border: none;
  color: #ffffff;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#header2 {
  background: linear-gradient(to bottom right, #FFB900, #FF7730);
  border: none;
  width: 400px;
  height: 70px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  border-radius: 15px;
}


#first {
  display: table-cell;
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: left;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}
#second {
  display: table-cell;
  width: 100px;
  line-height: 100px;
  height: 100px;
  float: right;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#third {
  display: table-cell;
  width: 300px;
  line-height: 100px;
  height: 100px;
  float: center;
  background: linear-gradient(to bottom right, #17f9f2, #fe0944);
  border: 7px solid orange;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#button{
  background-color: #4fa2ff;
  z-index: 1;
  border: none;
  color: white;
  padding: 15px 32px;
  float: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}


#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}

#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }


#BacktoHome{
    background: url(https://cdn.glitch.com/b88892c3-13db-4b8f-be60-64c47e8b9052%2Fyo.png?v=1605845438323);
    border: 0;
    height: 20px;
    width: 20px;
}

#clear {
  clear: both;
}
