@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#header1 {
  background: linear-gradient(to bottom right, #b8c6db, #f5f7fa);
  border: 15px solid white;
  color: #ffffff;
  width: 100%
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
  margin: 10px 10px 10px 10px;
}

#header2 {
  background: linear-gradient(to bottom right, #FFB900, #FF7730);
  border: 15px solid white;
  color: #ffffff;
  width: 100%
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
}


#first {
  display: table-cell;
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: left;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}
#second {
  display: table-cell;
  width: 100px;
  line-height: 100px;
  height: 100px;
  float: right;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#third {
  display: table-cell;
  width: 300px;
  line-height: 100px;
  height: 100px;
  float: center;
  background: linear-gradient(to bottom right, #17f9f2, #fe0944);
  border: 7px solid orange;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#button{
  background-color: #4fa2ff;
  z-index: 1;
  border: none;
  color: white;
  padding: 15px 32px;
  float: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}


#dot {
  position: absolute;
  height: 75px;
  width: 75px;
  background: linear-gradient(to right, #ec3c3c 0%, #eb5656 100%);
  border-radius: 50%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
}

#clear {
  clear: both;
}
