@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#MainHeader {
  background-color: #db7f8e;
  background-image: linear-gradient(315deg, #db7f8e 0%, #7b0d1e 74%);
  border: 15px white;
  color: #ffffff;
  width: 100%
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
}


#header1 {
  background: linear-gradient(to bottom right, #b8c6db, #f5f7fa);
  border: 15px solid white;
  color: #ffffff;
  width: 100%
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
}

#header2 {
  background: linear-gradient(to bottom right, #FFB900, #FF7730);
  border: 15px solid white;
  color: #ffffff;
  width: 100%
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align:center;
  font-size: 40px;
}


#first {
  display: table-cell;
  line-height: 100px;
  width: 100px;
  height: 100px;
  float: left;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}
#second {
  display: table-cell;
  width: 100px;
  line-height: 100px;
  height: 100px;
  float: right;
  background: linear-gradient(to bottom right, #2998FF, #5643FA);
  border: 7px solid white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#third {
  display: table-cell;
  width: 300px;
  line-height: 100px;
  height: 100px;
  float: center;
  background: linear-gradient(to bottom right, #17f9f2, #fe0944);
  border: 7px solid orange;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;

}

#buttonBegin {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#Questions {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#clear {
  clear: both;
}

